.toggleHolder{
  display: flex;
  justify-content: flex-end;
}

.toggle-container{
  cursor: pointer;
}

#toggle-btn{
  display: none;
}

.slider{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 60px;
  background-color: rgb(156 87 239);
  border-radius: 40px;
  
}

.toggle-text{
  padding: 10px;
  color: white;
  z-index: 2;
  font-weight: bold;
}

.toggle-box{
  position:absolute;
  left: 2px;
  width: 70px;
  height: 56px;
  background-color: white;
  border-radius: 38px;
  z-index: 1;
  transition: transform 0.3s ease;
}

#toggle-btn:checked + .slider .toggle-box {
  transform: translateX(64px);
}

#toggle-btn:checked + .slider .right {
  color: rgb(156 87 239);
}
#toggle-btn:not(:checked) + .slider .left {
  color: rgb(156 87 239);
}

#class-table-container{
   display: flex;
   justify-content: center;
   margin: 16px;
   padding:10px;
  
}

.basic-table {
    width: 100%;
    border-collapse: collapse;
   
}

.basic-table td {
    border: 1px solid rgb(29, 2, 62);
    text-align: center;
    padding:12px;
    color: white;
    background-color: rgb(203, 166, 247);
}


.basic-table th {
   border: 1px solid rgb(29, 2, 62);
    color: rgb(48, 2, 105);
    background-color: rgb(172, 121, 234);
    text-align: center;
    padding:16px;
}