*{
    box-sizing: border-box; 
}

html, body{
    font-family: 'Mulish', sans-serif !important;
    margin:0;
    padding:0;
    background-color: rgb(235, 233, 233);
}

.class-container{
    margin-top:56px;
    display: flex;
    justify-content: center;
}
.class-creation{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    max-width: 1200px;
    padding: 20px;
}
.back-to-db{
    align-self: flex-start;
    
}
.back-to-db a{
    text-decoration: none;
    color:rgb(120 61 197);
    font-weight: 800;
    font-size: small;
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.back-to-db a:hover{
    cursor: pointer;
}

.form-container{
    background: white;
    width: 100%;
    max-width: 500px;
    padding:40px;

}
.form-heading{
    font-size:17px;
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 13px;
    margin-bottom: 8px;
}
.form-group input{
    width:100%;
    padding:12px;
    padding-left: 20px;
    border: none;
    background-color: rgb(234, 229, 229);
}

.form-input{
    display:flex;
    align-items: center;
    background-color: rgb(234, 229, 229);
    border-bottom:6px solid rgb(120 61 197);
    padding:2px 9px;
}
.form-input input{
    width:100%;
    padding-left: 20px;
    border: none;
    background-color: rgb(234, 229, 229);

}
.form-footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dots{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.dot, .active-dot {
    height:8px;
    border-radius: 4px;
    width:8px;
    background-color:gray;
}
.active-dot{
    background-color: rgb(120 61 197);
}

.form-button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:20px;
}
.btn-cancel, .btn-create {
    border: none;
    color: rgb(120 61 197);
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 18px;
}
.btn-create {
    background-color: gray;
    color:rgb(234, 233, 233);
}
.btn-create:hover, .btn-create:active , .btn-cancel:hover, .btn-create:active {
    background-color: rgb(120 61 197);
    color: white;

}