*{
    box-sizing: border-box; 
}

html, body{
    font-family: 'Mulish', sans-serif !important;
    margin:0;
    padding:0;
    background-color:rgb(235, 233, 233);

}

.navbar{
    background-color: rgb(156 87 239);;
    height: 56px;
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    z-index: 1000;
}
.logo{
    padding: 8px;
    width: 140px;
    height: 40px;
    filter: invert(1) brightness(2);
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.main{
    display:flex;
    justify-content: center;
}
.login-body {
    margin-top:156px;
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.login-container{
     background-color:rgb(235, 233, 233);
     border-radius: 8px;
     padding: 3px;
     width: 100%;
     max-width: 400px;
     display: flex;
     justify-content: center; 
     flex-direction: column; 
     align-items: center;  
}


.login-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding:8px;
    border-radius: 4px;
}

.login-footer{
    display: flex;
    justify-content: center;
    padding:8px;
    margin: 8px;
}
.new-login{
    border: none;
    background-color: rgb(167, 104, 226);
    font-size:large;
    border-radius: 20px;
    padding:14px;
}

.new-login:hover {
    background-color: rgb(124, 12, 229);
    color: white;
}

#nav-login-btn{
    background-color: rgb(80, 3, 157);
}
#nav-login-btn:hover{
    background-color: rgb(124, 12, 229);
    color: white;
}





