:root{
    --required-color : rgb(120,61,197);
}
.sidebar-container{
    display: flex;
    min-height: 100vh;
    position: fixed;
    
    top: 56px;
    padding:20px;
    width:300px;
    background-color: white; 
    border-radius: 3px 0 0 0;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    right: -300px;
    transition: all 0.2s ease;
    z-index: 1001;

}
.sidebar-container.active{
    right:0;
}

.sidebar{
    width: 100%;
    padding: 20px;
}

.sidebar-title{
    display: flex;
    align-items: center;
    gap:8px;
    margin-bottom: 10px;
}

.sort-options, .filter-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.filter-options {
    display : none;
}


.filter-choice {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.sort-order{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px;
}

.icon{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.filter-section{
    padding:10px;
}
.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.filter-btn{
    display: flex;
    padding:4px;
}
.filter-btn {
    display:flex;
    justify-content: center;
    gap:20px;
}
.sidebar-btn{
    padding:8px 16px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background-color: white;
}
.sidebar-btn.apply{
    background-color: var(--required-color);
}
.sidebar-btn:hover{
    background-color: var(--required-color);
    color:white;
}
.sidebar-btn:active{
    background-color: var(--required-color);;
    color:white;
}

